{% extends "pizzas/base.html" %}

{% block content %}

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<h1 style="background-color:gold;">
    <center>Pizzeria!</center>
</h1>

<h2 style="background-color:orange;">
    <center>The Perfect Pizza Palace</center>
</h2>

<body style="background-color: orangered;">
    <img src="https://m.media-amazon.com/images/I/71EAIS3bUpL._AC_SX522_.jpg" alt="neon pizza" class="center">

</body>

{% endblock content %}